* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:link,
a:visited,
a:hover,
a:active {
  /* color: white; */
  text-decoration: none;
}

/* .carouselLink {
  color: black;
} */

.nav-main {
  background: none;
  color: white;
}

.intro-ctn {
  background-color: black;
  background-image: url("https://images.unsplash.com/photo-1590283603385-17ffb3a7f29f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.main-content-ctn {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content {
  color: white;
  text-align: center;
}

.signup-ctn {
  padding: 0px 10px;
}

.card {
  margin-top: 100px;
  box-shadow: 3px 3px 10px rgb(100, 100, 100);
}

.card h5 {
  text-align: center;
  margin-bottom: 20px;
}

/* Dashboard Style */

.db-nav {
  background: rgb(67, 83, 92);
  color: white;
}

.logout-btn {
  background-color: red;
  opacity: 0.8;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
}

.logout-btn:hover {
  background-color: red;
  opacity: 1;
}

.dash-main-ctn {
  background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
}

.search-ctn {
  background: rgb(67, 83, 92);
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: -1px 10px 20px rgb(29, 29, 29);
}

.stock-form {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  margin-bottom: 20px;
}

.stock-form input {
  width: 50%;
  margin-right: 30px;
}

.ctn {
  margin-top: 20px;
}

.search-stock-ctn {
  background: white;
  margin: 20px 0px;
}

.ctn,
.search-stock-ctn,
.saved-stock-ctn {
  padding: 0px 10px;
  padding-top: 5px;
}

.ctn {
  padding: 0px 20px;
}

.card {
  margin: 0px auto;
  margin-top: 20px;
}

.comment-ctn hr {
  background: rgb(35, 72, 114);
}

.comment-ctn button {
  margin: 0px 5px;
}
