* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:link,
a:visited,
a:hover,
a:active {
  color: white;
  text-decoration: none;
}

/* .carouselLink {
  color: black;
} */

/*  --              -- *\
        Landing Page
\*  --              -- */

/* Main Navbar */

.nav-main {
  background: none;
  color: white;
  z-index: 1;
}

.menu-bars {
  color: white;
}

.nav-link {
  margin: 0px 20px;
  /* font-size: 17px; */
}

.nav-link:hover {
  /* color: white; */
  border-bottom: 1px solid white;
}

/* Landing Content */

.intro-ctn {
  background-color: black;
  background-image: url("https://images.unsplash.com/photo-1590283603385-17ffb3a7f29f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.overlay {
  background: black;
  opacity: 0.8;
  min-height: 100vh;
  width: 100%;
  position: absolute;
}

.main-content-ctn {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.main-content {
  color: white;
  text-align: center;
}

/* -- Login and Signup -- */

.signup-ctn,
.login-ctn {
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-ctn .row {
  margin: 0px auto;
  padding: 0px 20px;
}

.login-ctn .row {
  padding: 0px 20px;
}

.signup-form-ctn,
.login-form-ctn {
  background: white;
  padding: 20px;
  border-radius: 7px;
  box-shadow: 0px 10px 20px black;
}

.signup-form-ctn span,
.login-form-ctn span {
  margin-left: 5px;
}

/* Login and Signup Buttons and Re-Dir Links */

.signup-btn,
.login-btn {
  background: blue;
  opacity: 0.8;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
}

.signup-btn:hover,
.login-btn:hover {
  background-color: blue;
  opacity: 1;
}

.login-reDir,
.signup-reDir {
  color: black;
}

.login-reDir:hover,
.signup-reDir:hover {
  color: blue;
  font-size: 17px;
  /* border-bottom: 1px solid; */
}

/* ------------------------- */

/* --                 -- *\
       Dashboard Style
\* --                 -- */

/*  Navbar */

.db-nav {
  background: rgb(67, 83, 92);
  color: white;
}

.logout-btn {
  background-color: red;
  opacity: 0.8;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
}

.logout-btn:hover {
  background-color: red;
  opacity: 1;
}

/* Search Bar */

.search-ctn {
  background: rgb(67, 83, 92);
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: -1px 10px 20px rgb(29, 29, 29);
}

.stock-form {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  margin-bottom: 20px;
}

.stock-form input {
  width: 50%;
  margin-right: 30px;
}

/* -- Dashboard Content -- */

.dash-main-ctn {
  background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
  min-height: 100vh;
}

.ctn {
  margin-top: 20px;
}

.search-stock-ctn {
  background: white;
  margin: 20px 0px;
}

.ctn,
.search-stock-ctn,
.saved-stock-ctn {
  padding: 0px 10px;
  padding-top: 5px;
}

.ctn {
  padding: 0px 20px;
}

.card {
  margin: 0px auto;
  margin-top: 20px;
}

.comment-ctn hr {
  background: rgb(35, 72, 114);
}

.comment-ctn button {
  margin: 0px 5px;
}
