form {
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
}

.jumbo-container {
  background: black;
  padding-top: 10px;
  padding-bottom: 5px;
}
.jumbo-text-container {
  color: white;
  font-size: 24px;
  text-align: center;
}

.stock-form {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  margin-top: 10px;
}

.stock-form input {
  width: 55%;
  margin-right: 30px;
}

.ctn .row,
.ctn .col {
  border: 1px solid lightskyblue;
}
